.forgot-password-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-container {
    width: 100%;
    max-width: 300px;
    padding: 20px;
  }
  
  .forgot-password-card {
    background-color: #fff;
    border-radius: 1rem;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo-icon {
    color: #ff6219;
  }
  
  .title {
    font-weight: bold;
    font-size: 24px;
  }
  
  .instruction-text {
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .submit-button {
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
    
  }
  
  .submit-button .btn {
    background-color: transparent;
    color: #fafafa;
    border: none;
    font-size: 13px;
    cursor: pointer;
  }

  .send{
    margin-left: 48px;
  }
  